html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Cherry Swash', trebuchet ms, cursive;
}

body {
    background: #09f;
    background-image: -moz-linear-gradient(bottom, #1F70ED, #00d2ff);
    background-image: -webkit-linear-gradient(bottom, #1F70ED, #00d2ff);
    background-image: linear-gradient(top, #1F70ED, #00d2ff);
}
.settings-box{
    position: absolute;
    top: 10px;
    bottom: 10px;
    z-index: 100;  
    color: white;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px 25px 25px 25px;
    border-radius: 8px;
    background-color: rgba(31, 112, 237, 0.10);
    font-family: Courier New, monospace;
}
.settings-box h3{
    letter-spacing: 1px;
    text-shadow: 0px 0px 2px rgba(0, 0, 204, 0.3);
    font-size: 17px;  
    margin-bottom: 25px;
}
.settings-box h3 span{
    font-size: 11px;
    text-shadow: none;
}
.settings_input{
    width: 70px;
    height: 25px;
    border-radius: 6px;
    padding: 2px 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    color: white;
}
.creature{
    position: absolute;
    z-index: 10;  
}
.voter-title{
    position: absolute;
    display: block;
    top: 0px;
    left: 25%;
    max-width: 200%;
    color: white;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2px 4px;
    border-radius: 4px;
    background-color: rgba(0, 120, 201, 0.6);
    letter-spacing: 50%;
}
.creature0 {
    position: absolute;
    z-index: 90; 
    animation:swim 10s infinite linear;   
    -moz-animation:swim 10s infinite linear; 
    -webkit-animation:swim 10s infinite linear;
}
@keyframes swim{
    from{
        right:-5%;
        top:82%;    
        transform:scaleX(-1);
    }    
    25%{
        top:0%;
        transform: rotate(25deg) scaleX(-1);
    }
    30%{
        top:-6%;
        transform: rotate(0deg) scaleX(-1);
    }
    
    to{
        right:100%;
        top:82%;    
        transform:scaleX(-1);
    }
}

.copyright{
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding-top: 7px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 10px;
}

.copyright a{
    font-style: italic;
    color: rgba(255, 255, 255, 0.5) !important;
    padding-left: 3px;
}

.sonar-pic{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    opacity: 0.3;
}


