html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Cherry Swash', trebuchet ms, cursive;
}
.bg-image {    
    background: url('../img/bg-ocean-1.jpg') repeat-x #091e74;
    /*background: url('../img/bg2.jpg') repeat-x #091e74;*/
    background-size: cover;    
}
.bg-image2 {    
    background: url('../img/bg-girl.jpg') repeat-x #091e74;
    background-size: cover;    
}
/*.bg-gradient{
    background: #09f;
    background-image: -moz-linear-gradient(bottom, #1F70ED, #00d2ff);
    background-image: -webkit-linear-gradient(bottom, #1F70ED, #00d2ff);
    background-image: linear-gradient(top, #1F70ED, #00d2ff);
}*/

.creature{
    position: absolute;
    z-index: 10; 
}
.creature:hover {
     -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important;
     animation-play-state: paused !important;
}
.voter-title{
    position: absolute;
    display: block;
    bottom: -13px;
    right: 10%;
    max-width: 300%;
    color: white;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2px 4px;
    border-radius: 4px;    
    letter-spacing: 50%;
    z-index: 11; 
}
.title-curve-line{
    position: absolute;
    top: -6px;
    left: 17px;
    z-index: -1; 
}
.sp-title{    
    position: absolute;
    top: -75px;
    left: 0px;
    font-size: 22px;
    z-index: 12;
    font-weight: bold;
    color: rgba(198, 255, 185, 0.38);
    /* border: 1px solid red; */
    width: 90px;
    text-align: center;
}
.author-link-overlay{
    position: absolute;
    top: -100px;
    left: 0px;
    z-index: 10; 
    width: 90px; 
    height: 90px;
    cursor: pointer;
    border-radius: 45px; 
    z-index: 15;
}
.author-balloon{

    position: absolute;
    display: block;
    top: -97px;
    left: 0px;
    z-index: 12; 
    width: 90px; 
    height: 90px;

    border-radius: 45px; 
    /* внутренние тени блока */ 
    -webkit-box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), inset -2px -1px 40px rgba(0,0,0,0.4), 0 0 1px #000; 
    -moz-box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), inset -2px -1px 40px rgba(0,0,0,0.4), 0 0 1px #000; 
    -ms-box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), inset -2px -1px 40px rgba(0,0,0,0.4), 0 0 1px #000; 
    -o-box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), inset -2px -1px 40px rgba(0,0,0,0.4), 0 0 1px #000; 
    box-shadow: inset 0 -5px 15px rgba(255,255,255,0.25), inset -2px -1px 40px rgba(0,0,0,0.25), 0 0 1px #000; 
}
.ballon-nippel{
    position: absolute;
    display: block;
    top: -14px;
    left: 42px;
    z-index: 10; 
    border: 5px solid transparent;
    border-bottom: 7px solid rgba(0, 120, 201, 0.30);
    display: block;
    width: 0;
    height: 0;
}
/* пузырь вверху щара */
.author-balloon:after { 

    content: ""; 

    width: 30px; 
    height: 12px; 

    border-radius: 30px / 12px; 

    position: absolute; 
    left: 30px; 
    top: 3px; 

    background: #fff; /* фон на случай неподдержки градиента */ 
    /* градиент */ 
    background: -webkit-linear-gradient(top, rgba(232,232,232,0.2) 0%,rgba(232,232,232,0.6) 1%,rgba(255,255,255,0) 80%); 
    background: -moz-linear-gradient(top, rgba(232,232,232,0.2) 0%,rgba(232,232,232,0.6) 1%,rgba(255,255,255,0) 80%); 
    background: -ms-linear-gradient(top, rgba(232,232,232,0.2) 0%,rgba(232,232,232,0.6) 1%,rgba(255,255,255,0) 80%); 
    background: -o-linear-gradient(top, rgba(232,232,232,0.2) 0%,rgba(232,232,232,0.6) 1%,rgba(255,255,255,0) 80%); 
    background: linear-gradient(top, rgba(232,232,232,0.2) 0%,rgba(232,232,232,0.6) 1%,rgba(255,255,255,0) 80%); 
}

.author-balloon span{
    width: 70%;
    display: block;
    margin: 49px auto;
    text-align: center;
    word-wrap: break-word;
    color: white;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    font-size: 12px;
}
.burn-bg{
    background-color: rgba(232, 166, 52, 0.7);
}
.blue-bg{
    background-color: rgba(0, 120, 201, 0.30);
}
.green-bg{
    background-color: rgba(0, 210, 63, 0.19);
}
.pink-bg{
    background-color: rgba(204, 0, 210, 0.19);
}
.yellow-bg{
    background-color: rgba(219, 255, 0, 0.15);
}
.orange-bg{
    background-color: rgba(255, 171, 24, 0.15);
}

.creature0 {
    position: absolute;
    z-index: 10; 
    animation:swim 30s 1 ease-in-out;    
}
.creature0:hover {
     -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important;
     animation-play-state: paused !important;
}
@keyframes swim0{
    from{
        right:50%;
        top:50%;    
    }   
    to{
        right:50%;
        top:50%;    
    }
}

@keyframes swim{
    from{
        right:-5%;
        top:82%;    
        transform:scaleX(-1);
    }    
    25%{
        top:0%;
        transform: rotate(25deg) scaleX(-1);
    }
    30%{
        top:-6%;
        transform: rotate(0deg) scaleX(-1);
    }
    
    to{
        right:100%;
        top:82%;    
        transform:scaleX(-1);
    }
}

.copyright{
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding-top: 7px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 10px;
}

.copyright a{
    font-style: italic;
    color: rgba(255, 255, 255, 0.5) !important;
    padding-left: 3px;
}

.sonar-pic{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    opacity: 0.3;
}

.mt-15{
    margin-top: 15px;
}

.mt-20{
    margin-top: 20px;
}

/* Стилизация чекбокса */
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}

.checkbox + label {
    cursor: pointer;
}

.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative; 
    padding: 0 0 0 60px; 
}

.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; 
}

.checkbox:checked + label:before {
    background: #9FD468;
}

.checkbox:checked + label:after {
    left: 26px;
}

.hidden{
    display: none;
}
.nowrap{
    white-space: nowrap;
}
/*--- TOOLTIPS ---*/
.tooltip{
    position: absolute;
    left: 0;
    display: none;
    color: white;
    font-size: 13px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(10, 50, 150, 0.45);
    font-family: Courier New, monospace;   
    z-index:1000;   
}

.tooltip table{
    width: 100%;   
}
.tooltip table td{
    text-indent: 3px;
}
.tooltip table .hd{
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);   
    padding-top: 6px;
    font-size: 15px;
    padding-bottom: 7px;
    margin-bottom: 15px;
    text-align: center;
    background-color: rgba(31, 112, 237, 0.35);
}
.tooltip table td span{
    white-space: nowrap
}
.tooltip .voter, .tooltip .author{
    font-size: 15px;
    font-weight: bold;
    color: #e0bd00;
     cursor: pointer;
}
.tooltip .coins{
    color: #9fd468;
    font-weight: bold;
    font-size: 15px;
}
.tooltip .percent{
    color: #8CC4FF;
    font-weight: bold;
    font-size: 16px;
}


/*-------SETTINGS BOX-----------*/
.settings-box{
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0px;
    z-index: 100;  
    min-width: 35px;
    padding-left: 10px;
}
.settings-box .wrapper{
    position: relative;
    color: white;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px 20px 20px 20px;
    border-radius: 8px;
    background-color: rgba(31, 112, 237, 0.10);
    font-family: Courier New, monospace;
    height: 97%;
}
.settings-box h3{
    letter-spacing: 1px;
    text-shadow: 0px 0px 2px rgba(0, 0, 204, 0.3);
    font-size: 17px;  
    margin-bottom: 0px;
    margin-top: 12px;
}
.settings-box .vers{
    font-size: 10px;
    text-shadow: none;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
}
.settings-box .row{
    margin-bottom: 6px;
}
.settings-box .row label{   
    padding-right: 5px;
    display: block;
    margin-bottom: 3px;
}
.settings-box .settings_input{
    width: 95%;
    height: 25px;
    border-radius: 6px;
    padding: 1px 6px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.08);
    color: white;
    font-size: 12px;
}

.settings-box #minimize{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
    z-index: 101;
    background-color: rgba(103, 211, 249, 0.5);
}

.settings-box #minimize:after { 
    content: ""; 
   
    margin: auto;
    border: 6px solid transparent;
    border-bottom: 7px solid rgba(250, 250, 250, 0.6);
    display: block;
    width: 0;
    height: 0;
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
